@font-face {
  font-family: "Cocogoose";
  src: local("Cocogoose"),
    url("../fonts/Cocogoose_trial.otf") format("opentype");
}

:root {
  --primary-color: #ec5242;
  --secondary-color: #272a31;
  --tertiary-color: #d3d3d3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: calc(15px + 0.390625vw);
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.logo {
  width: 150px;
  height: 50px;
  margin-top: 10px;
}

.line-primary {
  background-color: var(--primary-color);
  height: 3px;
  width: 100px;
  display: inline-block;
}

.btn-danger {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  filter: contrast(200%);
}

.header {
  position: relative;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 63%,
    rgba(39, 42, 49, 1) 100%
  );
}

/* navbar */
.nav-top .nav-link {
  color: var(--secondary-color);
}

.nav-top .nav-item:hover .nav-link {
  color: var(--primary-color);
}

.navbar-toggler-icon {
  background-image: none;
}

.navbar-toggler-icon::before {
  font-family: FontAwesome;
  content: "\f0c9";
  color: var(--tertiary-color);
  font-size: 30px;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: var(--tertiary-color);
  text-transform: uppercase;
  cursor: pointer;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

/* headline */
.headline {
  background-color: var(--secondary-color);
  background-image: url(../img/dex-ezekiel-IxDPZ-AHfoI-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(3px);
}

@media screen and (min-width: 768px) {
  .headline {
    background-size: cover;
  }
}

.headline-text {
  margin-top: 5rem;
}

.headline-text q,
.headline-text h1 {
  font-family: "Cocogoose", sans-serif;
  background: rgb(236, 82, 66);
  background: linear-gradient(
    67deg,
    rgba(236, 82, 66, 1) 0%,
    rgba(255, 255, 255, 0.35057773109243695) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: contrast(1000%);
}

.headline-text h1 {
  font-size: 3rem;
}

.headline-about-text q,
.headline-about-text h1 {
  font-family: "Cocogoose", sans-serif;
  background: var(--primary-color);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* main program */
#program {
  background-image: url(../img/tL78cuP-cool-orange-backgrounds.png);
  background-size: cover;
}

.program-title {
  color: var(--primary-color);
}

.program-item {
  transition: filter 0.5s;
}

.program-item:hover {
  filter: drop-shadow(5px 5px 10px var(--secondary-color)) contrast(200%);
}

/* guests section */
#guest {
  background-color: var(--tertiary-color);
}

.headshot {
  background-image: url(../img/chessboard-pattern.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 80px 80px;
}

.headshot img {
  width: 125px;
  height: 125px;
  margin-top: 10px;
  margin-left: 10px;
}

.title {
  color: var(--primary-color);
}

.line-secondary {
  background-color: var(--tertiary-color);
  height: 3px;
  width: 50px;
  display: inline-block;
  filter: contrast(150%);
}

.experience {
  font-size: 0.75rem;
}

/* partner section */
#sponsor {
  background-color: var(--secondary-color);
}

.brand * {
  color: var(--primary-color);
}

/* footer */
small {
  font-size: 0.65rem;
}

/* archive */

.archive-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 350px;
  background-blend-mode: multiply;
}

.archive-one {
  background-image: linear-gradient(
      to right,
      #ef4578 0%,
      var(--primary-color) 100%
    ),
    url(../img/geek-ge61361b91_1920.jpg);
}

.archive-two {
  background-image: linear-gradient(
      to right,
      #ef4578 0%,
      var(--primary-color) 100%
    ),
    url(../img/order-to-turn-its.jpg);
}

.archive-one:hover {
  background-image: url(../img/geek-ge61361b91_1920.jpg);
}

.archive-two:hover {
  background-image: url(../img/order-to-turn-its.jpg);
}
